
<aside id="zan_login-2">
  <div class="panel panel-zan">
    <div class="panel-heading">请登录</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "login-form clearfix", id: "edit_post_45" } ) do |f| %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user"></i>
            </div>
            <%= f.email_field :email, autofocus: true, class:"form-control", id:"log", size:"20" %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-lock"></i>
            </div>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "pwd", size:"20" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "记住我"  %>
            <% end -%>
          </div>
        </div>
        <%= f.submit "登录", class: "btn btn-inverse-primary pull-left"%>
        <a
        href="#"
        class="btn btn-inverse-primary pull-right">注册</a>
    <% end %>
  </div>
</aside>

<%= render "users/shared/links" %>






