<%= link_to articles_path do %>
    <i class="fa fa-mail-reply"></i>返回文章列表
<%end%>
<%= form_for @article,class:"form-horizontal" do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group" style="margin-top: 10px">
      <label class="control-label" for="inputEmail"><i class="fa fa-paperclip"></i>标题</label>
      <div class="controls">
        <%= f.text_field :title, size:120 %>
      </div>
    </div>

    <div class="control-group" style="margin-top: 10px">
      <label class="control-label" for="inputEmail"><i class="fa fa-paperclip"></i>标签（*多个标签以","隔开）</label>
      <div class="controls">
        <%= f.text_field :tag_list,:size=>'120' %>
      </div>
    </div>

    <div class="control-group" style="margin-top: 10px">
      <label class="control-label" for="inputEmail"><i class="fa fa-list-alt"></i>正文(支持Markdown)</label>
      <div class="controls">
        <%= f.text_area :text,rows:"30", cols:"120" %>
      </div>
    </div>

    <div class="control-group" style="margin-top: 10px">
      <div class="controls">
        <%= f.submit "发布", class: "btn btn-success"%>
      </div>
    </div>

<% end %>


