
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui form segment">

      <h3 class="ui  header"><i class="sign in icon"></i>文章列表
      </h3>

      <div class="ui large celled list">
        <% @articles.each do |article| %>
            <div class="item">
              <%= image_tag "matt.jpg", class:"ui avatar image" %>
                <div class="content" >
                <div class="header ui tag labels"><%= link_to article.title, article_path(article),class:"ui green",id: "myTitle" %>
                  <a class="ui label">
                    Rails
                  </a>
                </div>

                <div class="content " style="margin-top: 10px">
                  <div class="ui mini label">
                    <i class="user icon"></i>
                   Wilson
                  </div>

                  <div class="ui horizontal bulleted link list">
                    <a class="item">
                      <i class="clock icon"></i>13天前
                    </a>
                    <a class="item">
                      最后由wilson回复于1天前
                    </a>
                  </div>
                </div>
              </div>

              <div  style="float: right">
                <a class="ui red circular label">
                  10
                </a>
              </div>
            </div>
        <% end %>
      </div>

    </div>
  </div>

  <div class="four wide column">
    <div class="ui buttons">
      <div class="ui button"> <%= link_to "发帖", new_article_path %></div>
      <div class="or"></div>
      <div class="ui positive button">浏览</div>
    </div>


    <div class="ui vertical menu">
      <a class="active teal item">
        收件箱
        <div class="ui teal label">1</div>
      </a>
      <a class="item">
        垃圾邮件
        <div class="ui label">51</div>
      </a>
      <a class="item">
        更新
        <div class="ui label">1</div>
      </a>
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="搜索邮件...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    <h3 class="ui dividing header"><i class="users icon"></i>关注
    </h3>
    <div class="ui divided list">
      <div class="item">
        <%= image_tag "matt.jpg", class: "ui  avatar image"%>
        <div class="content">
          <a class="header">王五</a>
        </div>
      </div>
      <div class="item">
        <%= image_tag "matt.jpg", class: "ui  avatar image"%>
        <div class="content">
          <a class="header">李四</a>
        </div>
      </div>
      <div class="item">
        <%= image_tag "matt.jpg", class: "ui  avatar image"%>
        <div class="content">
          <a class="header">张三</a>
        </div>
      </div>
    </div>
  </div>
</div>