<div class="ui secondary menu">
  <%= link_to  articles_path, class: "item" do %>
      <i class="home icon"></i>首页
  <%end%>

  <% if user_signed_in? %>
      <a class="blue item">
        <i class="user icon"></i> 欢迎你 <%= current_user.email %>
      </a>
      <div class="right menu">
        <%= link_to  destroy_user_session_path, method: :delete, class: "ui item" do %>
            <i class="sign out icon"></i>注销
        <%end%>
      </div>
  <% else %>
      <div class="right menu">
        <%= link_to  new_user_registration_path, class: "ui item" do %>
            <i class="add user icon"></i>注册
        <%end%>

        <%= link_to  new_user_session_path, class: "ui item" do %>
            <i class="sign in icon"></i>登陆
        <%end%>
      </div>
  <% end %>

</div>
