
<div class="ui pointing large menu" id="myHeader">
  <div id="mymenu">
    <%= link_to  articles_path, class: "item" do %>
        <i class="home icon"></i>首页
    <%end%>
    <a class="item">
      <i class="mail icon"></i> 站内消息
    </a>
    <a class="active green item">
      <i class="china flag"></i>Rails China
    </a>



    <div class="right menu">

      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="搜素...">
          <i class="search link icon"></i>
        </div>
      </div>

      <% if user_signed_in? %>
          <a class="item">
            <i class="user icon"></i> 欢迎你 <%= current_user.email %>
          </a>
          <%= link_to  destroy_user_session_path, method: :delete, class: "ui item" do %>
              <i class="sign out icon"></i>注销
          <%end%>
      <% else %>
          <%= link_to  new_user_registration_path, class: "ui item" do %>
              <i class="add user icon"></i>注册
          <%end%>
          <%= link_to  new_user_session_path, class: "ui item" do %>
              <i class="sign in icon"></i>登陆
          <%end%>
      <% end %>
    </div>
  </div>
</div>
