<!DOCTYPE html>
<html>
<head>
  <title>Wilson's BLog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="sink">

<%= render(:partial=>'header') %>

<div class="demo container">
  <%= render(:partial=>'menu') %>

  <div class="ui two column grid">
    <div class="twelve wide column">
      <div class="ui form">
        <%= yield %>
      </div>
    </div>

    <%= render('rightPart') %>
  </div>

</div>


<%= render(:partial=>'footer') %>

</body>
</html>
