<aside id="zan_login-2">
  <div class="panel panel-zan">
    <div class="panel-heading">请注册</div>

    <div style="padding: 10px">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}, html: { class: 'form-horizontal' },
                          wrapper: :horizontal_form,
                          wrapper_mappings: {
                                  check_boxes: :horizontal_radio_and_checkboxes,
                                  radio_buttons: :horizontal_radio_and_checkboxes,
                                  file: :horizontal_file_input,
                                  boolean: :horizontal_boolean
                          } ) do |f| %>
          <%= f.error_notification %>

          <%= f.input :email, autofocus: true %>

          <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />

          <%= f.input :password, autocomplete: "off" %>

          <%= f.input :password_confirmation, autocomplete: "off" %>

          <%= f.input :avatar%><br />
          <%= f.hidden_field :avatar_cache%>

          <%= f.button :submit, class:"btn btn-success", value:"创建" %>
      <% end %>
    </div>
  </div>
  </div>
</aside>
